<nav class="nav-bar">
            <div class="name">Recipe App</div>
            <ul class="list">
                <li class="item"><a class="nav-link" href="#portfolio-form-link"><%= link_to "Sign Up", new_user_registration_path, method: :get, class: 'link'%></a></li>
                <li class="item"><a class="nav-link" href="#portfolio-form-link"><%= link_to "Log In", new_user_session_path, class: 'link'%></a></li>
            </ul>
</nav>
