$orange: #fc6011;
$blue: #11263c;
$grey: #52616b;

.title-recipe-container {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.recipe-detail-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem;
}

.ingredient-buttons-container {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
}

.public-button {
  margin-block-start: 0.7em;
}

.btn_recipe_state.true {
  width: 60px;
  height: 25px;
  background-image: linear-gradient(to right, $orange 70%, silver 70%);
}

.btn_recipe_state.false {
  width: 60px;
  height: 25px;
  background-image: linear-gradient(to right, silver 30%, $grey 30%);
}

.public-container {
  display: flex;
  justify-content: center;
}

.public-label {
  display: flex;
  margin-right: 1rem;
}

// .box {
//   position: absolute;
//   top: 10%;
//   left: 10%;
//   transform: translate(-10%, -10%);
// }

// .box select {
//   background-color: #0563af;
//   color: white;
//   padding: 12px;
//   width: 250px;
//   border: none;
//   font-size: 20px;
//   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
//   -webkit-appearance: button;
//   appearance: button;
//   outline: none;
// }

// .box::before {
//   content: "\f13a";
//   font-family: FontAwesome;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 20%;
//   height: 100%;
//   text-align: center;
//   font-size: 28px;
//   line-height: 45px;
//   color: rgba(255, 255, 255, 0.5);
//   background-color: rgba(255, 255, 255, 0.1);
//   pointer-events: none;
// }

// .box:hover::before {
//   color: rgba(255, 255, 255, 0.6);
//   background-color: rgba(255, 255, 255, 0.2);
// }

// .box select option {
//   padding: 30px;
// }

.box {
  margin-left: 1rem;
}

select {
  width: 100%;
  height: 30px;
  padding: 10px 15px;
  border: 1px solid $blue;
  color: white;
  border-radius: 4px;
  background-color: $orange;
}

// a, a:link {
//   color: white;
// }